<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="javascripts/libs/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="javascripts/libs/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-3.2.0-dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="stylesheets/teamkate.css">
<title>teamkate!</title>
</head>
<body>
	<div class="container" id="greeting">
		<div class="row" id="header">
			<div class="col-md-4" id="welcome"><h3 class="colortext">PPAT Team Kate!</h3></div>
			<div class="col-md-8"> 
				<div class="row">
					<div class="col-md-8" id="tab-header">
						<ul class="nav nav-tabs" id="tabs" role="tablist">
						  <li id="for-article" class="active"><a href="#articles" role="tab" data-toggle="tab"> Project Description</a></li>
						  <li id="for-posts"><a href="#posts" role="tab" data-toggle="tab">Demo Documentation</a></li>
						  <li id="for-posts"><a href="#admin" role="tab" data-toggle="tab">The team</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
		<div class="container">
			<div class="row">
				<div class="tab-content col-md-6" id="publications">
						<div class="tab-pane active" id="articles">Project Documentation</div>
						<div class="tab-pane" id="posts"> The team </div>
						<div class="tab-pane " id="admin"> Names of people</div>
				</div>
				<div class="col-md-3 colortext mit-color" id="chat">
				</div>
				
			</div>
		</div>
</body>

</html>

