
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.div{
	display: block;
}
#tab-header{
	border-top: 15px solid;
}

#greeting{
	background-color: black;
	width: 100%;

}

.colortext{
	color: white;

}